<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ModifyServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ModifyServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://v5-ae-portasignatures7-preprod.udl.cat/pf/servicesv2/ModifyService"
                binding="basicHttpBinding" bindingConfiguration="ModifyServiceSoapBinding"
                contract="PF7.ModifyService" name="ModifyServicePort" />
        </client>
    </system.serviceModel>
</configuration>
